{% extends 'flights/staff/staff_base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
    <div class="container">
        <br><br>
        <div class="row min-vh-100">
            <div class="col-lg-8 mx-auto">
                <div class="card shadow border" style="background-color: #f0f9ff">
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <h2 class="pb-4 pt-4" style="text-align: center">Are you sure you want to delete
                                aircraft: {{ object.model }}?</h2>
                            <div class="d-flex justify-content-between align-content-center mx-auto px-5">
                                <div class="d-flex justify-content-center m-2">
                                    <button type="submit" class="btn btn-outline-danger"
                                            style="width: 150px; height: 50px; border-radius: 7px; line-height: 10px">
                                        Delete
                                    </button>
                                </div>
                                <div class="d-flex justify-content-center m-2">
                                    <a href="{% url 'staff_aircraft_list' %}" class="btn btn-outline-success"
                                            style="width: 150px; height: 50px; border-radius: 7px; line-height: 35px">
                                        Return
                                    </a>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}