{% extends 'flights/base.html' %}
{% load static %}

{% block extra_css %}
<style>
    .body-image {
        background-image: none !important;
        background-color: aliceblue;
    }
</style>

{% endblock %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center">
    <div class="text-center position-relative" style="max-width: 1200px;">
        <img src="{% static 'flights/images/welcome_image.jpg' %}" alt="Welcome Image" class="img-fluid" style="max-width: 100%;">
        <div class="position-absolute" style="top: 0; left: 0; right: 0; bottom: 0;">
            <div class="d-flex flex-column justify-content-between h-100">
                <div class="mt-3">
                    <h1 class="display-4 text-white mb-4 text-center" style="font-family: lobster-regular">Welcome to Django Air Service</h1>
                    <h6 class="display-4 mb-4 text-center" style="font-family: lobster-regular; color: lightskyblue">Fly to your dreams!</h6>
                </div>
                <div class="mb-3">
                </div>
                <div class="mb-3 text-center">
                    <a href="{% url 'register' %}" class="btn btn-primary btn-lg me-2">Register</a>
                    <a href="{% url 'login' %}" class="btn btn-secondary btn-lg">Sign in</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

