{% extends 'flights/base.html' %}
{% load static %}

{% block content %}
    <div class="container my-5">
        <div class="row justify-content-center">

            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Profile Details</h5>
                        <div class="settings-icon">
                            <a href="{% url 'change_profile' request.user.id %}"><i class="fas fa-cog"></i></a>
                        </div>
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                    <th>First name</th>
                                    <td>{{ user.first_name }}</td>
                                </tr>
                            <tr>
                                    <th>Last name</th>
                                    <td>{{ user.last_name }}</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>{{ user.email }}</td>
                                </tr>
                                <tr>
                                    <th>Phone</th>
                                    <td>{{ user.phone }}</td>
                                </tr>
                                <tr>
                                    <th>Gender</th>
                                    <td>{{ user.gender }}</td>
                                </tr>
                                <tr>
                                    <th>Email verified</th>
                                    <td>{{ user.email_verify }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
